.about {
  margin-top: 2%;
  padding: 2%;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
}
.linksList {
  width: 50vw;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 7px;
}
.linksList li a:hover img {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  box-shadow: none;
}
.container {
  width: 100vw;
  display: flex;
  gap: 2%;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 2%;
  flex-wrap: wrap;
}

.skills {
  width: 70vw;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 8px;
}
.skills li {
  color: #fffffe;
  border-radius: 5px;
  background-color: var(--color-bg-button-hover);
  padding: 4%;
  list-style: inside;
  list-style-image: url('/marca-de-verificacion.png');
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.avatar {
  width: 260px;
}
.info {
  max-width: 45vw;
  min-width: 350px;
  padding-top: 3%;
  padding-right: 1%;
  padding-left: 1%;
}
/* Media Query para dispositivos con ancho menor a 768px (Tablet y móvil) */
@media (max-width: 767px) {
  .skills {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
  }
}
