header {
  display: flex;
  background-color: var(--color-bg);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999999;
}
nav {
  margin-right: 10px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
}
.logoContainer {
  width: 230px;
  padding-left: 10px;
  padding-top: 5px;
}
.logo img {
  width: 50px;
}

nav ul {
  display: flex;
  gap: 10px;
}
/* NAV Y CATEGORIES*/
.hamburguer,
nav label {
  display: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li {
  margin: 0 10px;
}
nav a {
  font-size: 1em;
}

@media screen and (max-width: 768px) {
  main {
    margin-top: 50px;
  }
  nav {
    padding: 0;
  }

  nav label,
  .hamburguer {
    display: block;
    position: fixed;
    right: 10px;
    z-index: 99999999999;
  }

  nav label {
    background-color: var(--color-bg);
    border-radius: 0.2em;
  }

  .hamburguer {
    opacity: 0;
    z-index: 99999999999;
  }

  nav ul {
    display: none;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-bg);
    flex-direction: column;
    align-items: center;
    padding: 3%;
  }

  nav li {
    margin: 10px 0;
  }

  nav input[type='checkbox']:checked + label + ul {
    display: flex;
    animation: fadeInAnimation ease 1s;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  nav label {
    font-size: 1.5em;
    cursor: pointer;
    top: 0;
  }
}
